@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}

aside .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
  padding: 20px;
  position: sticky;
  float: left;
  border-radius: 10px;
  background: rgb(82, 0, 97);
  background: linear-gradient(10deg, rgb(82, 0, 97) 0%, rgb(195, 0, 240) 100%);
}
aside .container .aside__navigation nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
aside .container .aside__navigation nav ul li {
  background-color: rgb(82, 0, 97);
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
aside .container .aside__navigation nav ul li:hover {
  background-color: rgb(68, 0, 80);
  cursor: pointer;
}
aside .container .aside__navigation nav ul li a img {
  width: 50px;
  -webkit-filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(87deg) brightness(119%) contrast(119%);
          filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(87deg) brightness(119%) contrast(119%);
}
aside .container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  border-top: 1px solid rgb(68, 0, 80);
  padding-top: 10px;
}
aside .container .footer__ss nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
aside .container .footer__ss nav ul li {
  background-color: rgb(82, 0, 97);
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
aside .container .footer__ss nav ul li:hover {
  background-color: rgb(68, 0, 80);
  cursor: pointer;
}
aside .container .footer__ss nav ul li a {
  background-color: #fff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
}
aside .container .footer__ss nav ul li a:last-child img {
  width: 50px;
}
aside .container .footer__text p {
  color: rgb(195, 0, 240);
  width: 50px;
}

.wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100dvh;
  gap: 40px;
}

.container {
  max-width: 1720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container header .header-container {
  max-width: 100%;
  height: 100px;
  background-color: linear-gradient(10deg, rgb(82, 0, 97) 0%, rgb(195, 0, 240) 100%);
}