@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;

    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }
}
.header{
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 25px #fff;
    background: linear-gradient(90deg, rgb(23,23,23) 0%, rgb(49, 49, 49) 100%);

    .container{
        display: flex;
        justify-content: space-between;
        margin: 0 15px;
    }
    &__logo{
        display: flex;
        gap:10px;

        form button{
            border: none;
            background: #fff;
            width: 20px;
            height: 20px;
        }
        a{
            color: #fff;
            font-size: 48px;
        }
    }
    &__navigation{
        display: flex;
        align-items: center;

        nav ul{
            display: flex;
            gap:25px;
            
            li a{
                color: #fff;
                font-size: 20px;
                border-bottom: none;
                transition: all .2s;

                &:hover{
                    border-bottom: 1px solid rgba(180, 180, 180, 255);
                }
            }
        }
    }
}