aside 
    .container
        .aside 
            section.aside_navigation 
                nav 
                    ul 
                        each value, key in {"index.html" : "img/img.png", "account.html" : "img/img"}
                            li
                                a(href=key) 
                                    img(src=value, alt=key )
            section.aside_setings 
                .set 
                    a(href="setings.html")
                        img(src="img/img.png", alt="Настройки") 
            section.aside_footer 
                include footer 
