footer 
    .footer
        .container 
            section.footer__text 
                h4 &copy; 2024 My Website. All rights reserves.
            section.footer__navigation 
                nav 
                    ul 
                        each value, key in {"index.html" :'Главная', "accoumt.html": 'Аккаунт'}
                            li 
                                a(href=key)= value
            section.footer__sn
                