header 
    .header 
        .container 
            section.header__logo 
                form(action="index.html")
                    button
                        img(src="" alt="")
                a(href="index.html") Index
            section.header__navigation 
                nav 
                    ul
                        each value, key in {"index.html" :'Главная', "accoumt.html": 'Аккаунт'}
                            li 
                                a(href=key)= value