doctype html
html(lang="en")
    head
        //337AB777EA0231722450EF4BF3056017
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title AI
        link(rel="stylesheet", href="css/style.css")
    body
        .wraper
            include ../moduls/aside

